.wrap{
  border-radius: 8px 8px 0px 0px;
  background: #E98362;
}
.text1{
  font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;
background-color: #E98362;
color: #FFFFFF;
margin-bottom: 0px;
border-radius: 8px 8px 0px 0px;
}
.text2{
background-color: #E98362;
color: #FFFFFF;
margin-bottom: 0px;
border-radius: 8px 8px 0px 0px;
cursor: pointer;
}
.text3{
  font-weight: 400;
font-size: 20px;
line-height: 25px;
background-color: #E98362;
}
.text4{
  font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #000000;
}
.background{
background: #F5F5F5;
}
.boxShawdow{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 8px 8px 0px 0px;
  border-radius: 8px;
}
.chooseLocation{
  background: #FFF6F0;
border-radius: 8px;
}
.buttonAddService{
  background: #FFFFFF;
border: 1px solid #D35B34;
border-radius: 200px;
color: #D35B34;

}
.chooseHour{
  background: #FFE9E2;
}
.textSubmit{
  background: #D35B34;
border-radius: 8px;
color: white;
border: none;
font-size: 20px;
}
.warpServices{
  height: 400px;
  overflow: scroll;
}
.boxShawdow2{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 8px 8px 0px 0px;
  border-radius: 8px;
}
.textItem{
  font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #000000;
}
.textPrice{
  font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #D35B34;
}
.checkOut{
  background: #FFF6F0;
border-radius: 8px;
}
.text5{
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color: #343434;
}
.text6{
  font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
color: #343434;
}
.button2{
  background: #D35B34;
border-radius: 8px;
color: white;
font-size: 12px;
border: none;
padding: 8px;
width: 120px;
}
.text7{
  font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 25px;
text-align: center;

color: #D35B34;
}
.text8{
  font-style: normal;
font-weight: 200;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #D35B34;
}
.text9{
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #D35B34;

}